<header class="header">
	<div class="container">
		<h1 class="logo">
			<a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}" target="_self">{{ site.author }}</a>
		</h1>
		<ul class="icon-list">
			<li>
				<a href="mailto:brian@kopleck.com">
					<img src="{{ site.baseurl | append: "/assets/images/icons/email.png" }}" alt="Send me an email. Icon Credit: message by sultan mohammed from the Noun Project">
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/bkopleck/">
					<img src="{{ site.baseurl | append: "/assets/images/icons/linkedin.png" }}" alt="Visit my LinkedIn profile">
				</a>
			</li>
			<li>
				<a href="{{ site.baseurl | append: "/assets/pdfs/resume-briankopleck.pdf" }}">
					<img src="{{ site.baseurl | append: "/assets/images/icons/resume.png" }}" alt="Download my resume. Icon Credit: Resume by Icongeek26 from the Noun Project">
				</a>
			</li>
		</ul>
	</div>
</header>