html {
	font-size: 62.5%;
	height: 100vh;
}

body {
	min-height: 100vh;
	background: $color-offwhite;
	color: $color-offblack;
	font-family: $font-poppins;
	font-size: 1.5em;
	line-height: 1.3;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	margin-top: 0;
}

p {
	margin-top: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: $color-blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;	
}

img {
	display: block;
	max-width: 100%;
}

hr {
	background: $color-grey;
	border: 0;
	display: block;
	height: 1px;
	margin: 3rem 0;

	@media (min-width: $breakpoint-2col) {
		margin: 4.5rem 0;
	}
}

abbr[title] {
	border-bottom: 1px dotted $color-offblack;
	text-decoration: none;
}

code {
	background: $color-offwhite;
	border: 1px solid $color-grey;
	border-radius: 3px;
	font-family: $font-default;
	font-size: 1.5rem;	
	padding: .1rem .4rem;

	var {
		font-style: italic;
	}
}

dl {
	margin: 0 0 3rem;

	dt,
	dd {
		font-family: $font-default;		
	}

	dt {
		font-weight: 600;
	}

	dd {
		font-weight: 400;
	}
}

.responsive-table {
	margin-bottom: 3rem;
	display: block;	
	overflow-x: scroll;

	th,
	td {
		min-width: 10rem;
	}
}

table {
	border-collapse: collapse;	
	width: 100%;

	thead {
		td,
		th {
			font-weight: 600;
		}
	}

	tbody > tr:nth-child(odd) > td, 
	tbody > tr:nth-child(odd) > th {
		background: $color-offwhite;
	}

	th,
	td {
		font-family: $font-default;
		font-weight: 400;
		text-align: left;
		padding: .5rem 1rem;
	}
}

blockquote {
	border-left: .6rem solid $color-offblack;
	padding-left: 2rem;
	margin: 0 0 3rem;

	p {
		font-style: italic;
	}

	@media (min-width: $breakpoint-2col) {
		padding-left: 3rem;
	}
}

pre {
	margin: 0 0 3rem;
}