.container {
	display: block;
	margin: 0 auto;
	max-width: 280px;
	padding: 0 3rem;
	@include clearfix;
}

@media (min-width: $breakpoint-medium) {
	.container {
		max-width: 580px;
	}
}

@media (min-width: $breakpoint-large) {
	.container {
		max-width: 880px;
	}
}

@media (min-width: $breakpoint-xlarge) {
	.container {
		max-width: 1180px;
	}
}

.header {
	padding: 3rem 0;
}

.logo {
	float: left;
	font-size: 4rem;
	font-weight: 600;
	line-height: 1;
	margin: 0;

	a {
		color: $color-offblack;
	}
}

.icon-list {

	li {
		float:left;
		margin-top: 0.5rem;
		margin-left: 1.5rem;
	}

	img {
		width: 30px;
	}
}

.content {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}

.projects {
	padding: 0 0 9rem;
}

.projects-list {
	margin-left: -1rem;
	margin-right: -1rem;
	
	@media (min-width: $breakpoint-small) {
		@include clearfix;

		li {
			float: left;
			width: 100%;
		}
	}

	@media (min-width: $breakpoint-medium) {
		li {
			width: 50%;
		}
	}

	@media (min-width: $breakpoint-large) {
		li {
			width: 33.3333%;
		}
	}

	@media (min-width: $breakpoint-xlarge) {
		li {
			width: 25%;
		}
	}

	li {
		margin-bottom: 2rem;
	}

	a {
		display: block;
		position: relative;
		margin: 0 1rem;

		&:hover {
			.img-wrapper {
				&:before {
					opacity: 1;
				}
				&:after {
					opacity: .45;
				}
			}
		}
	}

	.project-info {
		position: absolute;
		bottom: 0px;
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(10px);
		height: 25%;
		width: 100%;

		.project-title,
		.project-desc {
			color: $color-offwhite;	
			width: 100%;
			text-shadow: black 0 0 5px;
			box-sizing: border-box;
		}

		.project-title {
			font-size: 2.3rem;
			padding: 0.5rem 0.8rem 0;
			text-transform: uppercase;
			line-height: 2.8rem;
			font-weight: 600;
		}

		.project-desc {
			padding: 0 0.8rem 0.5rem;
			font-size: 1.3rem;
			font-weight: 300;
			text-transform: lowercase;
			line-height: 1.6rem;
		}
	}

	.img-wrapper {
		position: relative;

		&:before {
			content: "View Project";
			color: $color-white;
			@extend .h2;
			font-weight: 800;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -.5rem;
			margin-left: -4.4rem;
			opacity: 0;
			-webkit-transition: all .5s ease-in-out;
    		transition: all .5s ease-in-out;
    		-webkit-transition-delay: .25s;
    		transition-delay: .25s;
    		z-index: 2;
		}

		&:after {
			background: #000;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			-webkit-transition: all .5s ease-in-out;
    		transition: all .5s ease-in-out;
    		z-index: 1;
		}
	}

	img {
		width: 100%;
	}
}

.project {
	left: 0;
	position: relative;
	top: 0;

	@media (min-width: $breakpoint-medium) {
		margin-top: -21rem;

		.article-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.container {
		max-width: 100%;
	}

	article {
		margin-bottom: 3rem;

		@media (min-width: $breakpoint-medium) {
			float: right;
			right: 0;
			width: 40%;
			position: absolute;
			right: 5%;
		}
	}

	aside {
		margin-left: -3rem;
		margin-right: -3rem;

		@media (min-width: $breakpoint-small) {
			@include clearfix;
		}

		@media (min-width: $breakpoint-medium) {
			float: left;
			width: 55%;
		}
	}

	.project-meta {
		margin: 3rem 0 0;

		@media (min-width: $breakpoint-medium) {
			margin: 5rem 0 0;
			max-width: 70%;
		}
	}

	.h2 {
		margin: 3rem 0 .5rem;

		&:first-of-type {
			margin-top: 0;
		}
	}

	h1 {
		a {
			text-decoration: underline;
		}
	}

	li {
		margin-bottom: 0rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	img {
		width: 100%;
	}
}

footer {
	color: $color-grey;
	width: 100%;
	bottom: 0;
	padding: 5rem 0 3rem;
	position: absolute;
}

.footer-text {
	text-align: center;
	font-size: 1.2rem;
	color: $color-grey;
}
