/* Fonts
 ****************************************************************/

$font-default: Helvetica, Arial, sans-serif;
$font-poppins: 'Poppins', $font-default;

/* Colors
 ****************************************************************/
$color-offwhite: #F0F0F0;
$color-light-grey: #DDD;
$color-light-grey-border: #BBB;
$color-grey: #777;
$color-dark-grey: #555;
$color-offblack: #222;
$color-blue: #3849E4;

/* Breakpoint
 ****************************************************************/
$breakpoint-2col: 660px;
$breakpoint-3col: 960px;
$breakpoint-4col: 1260px;