<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.project.title }} / {{ site.author }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.project.desc }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		{% assign content_arr = page.content | split: "<!-- FACTSHEET END -->" %}
		<section class="project">
			<div class="container">
				<h2 class="title">{{ page.project.title }}</h2>
				<aside>
					<div class="factsheet">
						{{ content_arr[0] }}
					</div>
				</aside>
				<article>
					{{ content_arr[1] }}
					<p><a href="/" target="_self">Back to home</a></p>
				</article>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>